.navbar {
    margin: 0px;
    width: auto;
  }
  ul {
    list-style-type: none;
    display: flex;
    width: 100%;  
    align-items: center;
    top: 0px;
    background-color: #F5FFFF;
  } 
  li a {
    margin-right: 20px;
    margin-left: 20px;
    display: block;
    font-size: larger;
    /* color: white; */
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: whitesmoke;
  }